/* Custom Styles for Specific UI Elements */

/* Shared Container Styles */
.shared-container {
	border-radius: 8px;
	padding: 16px;
	background-color: var(--chakra-colors-gray-100); /* Light mode background */
	border: 1px solid #e2e8f0; /* Border color for light mode */
  }
  
  .title-container, .date-range-picker-container {
	margin-bottom: 10px;
  }
  
  .user-card {
	border-radius: 8px;
	transition: all 0.3s ease;
  }
  
  .user-card:hover {
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
	transform: scale(1.05);
  }
  
  /* Dark Mode Specific Styles */
  @media (prefers-color-scheme: dark) {
	/* Dark Mode Specific Custom Styles */
	.shared-container {
	  background-color: var(--chakra-colors-gray-700); /* Dark mode background */
	  border: 1px solid #4a5568; /* Dark mode border */
	}
  
	.user-card {
	  background-color: var(--chakra-colors-gray-700); /* Dark mode background */
	  color: white; /* Optional: set text color for dark mode */
	}
  }
  